{% extends 'D:/Django/website/kopdesign/templates/kopdesign/base.html' %}
{% block content %}
<style>
.para{

text-align: justify;
    }
</style>

<div class="container">
    <h1 class="mt-4">
    About us
    </h1>

    <hr>
<p class="para">
    Kop design is a website that bring you the latest pictures of Liverpool football club.
    Liverpool Football Club is a professional football club in Liverpool, England, that competes in the Premier League, the top tier of English football. The club has won six European Cups, more than any other English club, three UEFA Cups, four UEFA Super Cups (both also English records), one FIFA Club World Cup, eighteen League titles, seven FA Cups, a record eight League Cups, fifteen FA Community Shields and one Football League Super Cup.
    Founded in 1892, the club joined the Football League the following year and has played at Anfield since its formation. Liverpool established itself as a major force in English and European football in the 1970s and 1980s when Bill Shankly, Bob Paisley, Joe Fagan and Kenny Dalglish led the club to a combined eleven League titles and four European Cups. Under the management of Rafael Benítez and captained by homegrown player Steven Gerrard, Liverpool became European champions for the fifth time in 2005, before a sixth title was added under Jürgen Klopp in 2019.
    <br>
    Liverpool was the seventh highest-earning football club in the world in 2019, with an annual revenue of €513.7 million,[3] and the world's eighth most valuable football club in 2019, valued at $2.183 billion.[4] The club is one of the most widely supported teams in the world.[5] Liverpool has long-standing rivalries with Manchester United and Everton.
    The club's supporters have been involved in two major tragedies: the Heysel Stadium disaster, where escaping fans were pressed against a collapsing wall at the 1985 European Cup Final in Brussels, with 39 people – mostly Italians and Juventus fans – dying, after which English clubs were given a five-year ban from European competition, and the Hillsborough disaster in 1989, where 96 Liverpool supporters died in a crush against perimeter fencing.
    The team changed from red shirts and white shorts to an all-red home strip in 1964 which has been used ever since. Red has been the main shirt colour ever since 1896.[6] The club's anthem is "You'll Never Walk Alone".
</p>
<hr>
                <p>
                    Find us on
                    <br>
                <a href="https://www.facebook.com/kopdesign1" target="_blank"  style="text-decoration:none">
                    <img src="https://i.pinimg.com/originals/b7/63/69/b763699fd1fa3bfb374442593ae642e1.png" width="40px" height="40px">
                </a>

                <a href="https://twitter.com/kopdesign1" target="_blank">
                    <img src="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c53e.png" width="40px" height="40px">
                </a>


            </p>
</div>


{% endblock content %}

