{% extends 'kopdesign/base.html' %}
{% block content %}

<div class="container mt-5 " style="background-color: rgb(26, 26, 26); color: blanchedalmond; padding-right: 80px; padding-left: 80px; padding-top: 80px; padding-bottom: 80px ">
  <h1>Logout Successful  </h1>
    <br>
  <p class="text-muted" style="align:b">
    Login again? Click
            <a href="/login" style="color: white">
          here
      </a>
  </p>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}

