{% extends 'kopdesign/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5 " style="background-color: rgb(26, 26, 26); color: blanchedalmond; padding-right: 80px; padding-left: 80px; padding-top: 80px; padding-bottom: 80px ">
  <h1>Forgot Password </h1>
  <p class="text-muted" style="font-size: 12px">
    RESET PASSWORD
  </p>
  <hr>
  <div class="container" style="padding-right: 20px;">

<!--Form-->
  <form method="POST">
    <table style="color:white;">
      <td>
    {% csrf_token %}
    {{ form | crispy }}
      </td>
    </table>
    <br>

    <button class="btn btn-outline-info btn-lg" type="submit">Reset</button>
  </form>
<!--Form-->
  </div>
</div>
<br><br><br><br>
{% endblock content %}

